apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "alert-manager-webhook.fullname" . }}
  labels:
    {{- include "alert-manager-webhook.labels" . | nindent 4 }}
spec:
  selector:    
    matchLabels:
      {{- include "alert-manager-webhook.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "alert-manager-webhook.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "alert-manager-webhook.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: {{ .Chart.Name }}
        securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
        image: servicedeployed/alert-manager-webhook:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        - name: CLUSTER_READ_TOKEN_NAME
          value: {{ include "alert-manager-webhook.fullname" . }}
        - name: API_TOKEN_SECRET_NAMESPACE
          value: {{ .Release.Namespace }}
        - name: DEBUG
          value: "{{ .Values.debug }}"
        ports:
        - containerPort: 8080
          name: http
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
