apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - prometheus.yaml

patchesStrategicMerge:
  - configmap-alerting.yaml

namespace: prometheus

commonLabels:
  app: prometheus